# Python
__pycache__/
*.py[cod]
*.env
.env
.env.*
venv/
*.sqlite3
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest / Coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache/
.pytest_cache/

# Jupyter Notebooks (se vier a usar)
.ipynb_checkpoints/

# Backup/Scripts antigos fora do app
scripts/
*.bak
*.old.py
